footer {
  margin-top: 40px;
}

.footer ul {
  margin-left: 30px;
}


.footer__instruction {
  font-size: 16px;
  font-weight: 600;

  &-item {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &-item:nth-child(4) img {
    margin-right: 10px;
    margin-left: 9px;
  }

}