.header__menu {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.header__menu--right {
  display: flex;
  align-items: flex-end;
}

.header__logo {
  color: rgba(101, 202, 115, 0.8);
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: rgba(133, 198, 144, 0.65);
    transition: 0.4s;
  }
}

.header__slogan {
  color: rgba(95, 204, 203, 0.8);
  font-size: 18px;
}