.main {
  margin-top: 50px;
  min-height: calc((100vh - 400px));
}

.result {
  text-align: center;
}

.list-toBuy {
  text-align: center;
  margin: 0 auto 20px auto;
}

.item-toBuy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 26px;
  line-height: 35px;
  background-color: rgba(229, 73, 111, 0.14);
}

.item__options {
  display: flex;
  align-items: center;
}

.hideIcon,
.remove,
.not-found {
  display: none;
}

.done {
  background-color: rgba(103, 220, 121, 0.32);
}

.not-found-show {
  display: inline;
}

.remove__btn {
  margin-left: 15px;
}

.add__items--description {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.add__items-btn {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;

  &:hover {
    background-color: rgba(70, 109, 123, 0.2);
    font-size: 50px;
    transition: 0.4s;
  }
}

.add__items img {
  margin: 0 auto;
  max-width: 50px;
  height: auto;
}

//modal

.modal {
  display: none;
  background: #337AB7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
}

.modal_vis {
  display: block;
}

.body_block {
  overflow: hidden;
  margin-right: 17px;
}

#close_modal {
  color: #BFE2FF;
  font-size: 40px;
  font-weight: bold;
  font-family: Times, sans-serif;
  border-radius: 50%;
  border: 4px solid #BFE2FF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  transition: all 0.6s;
  box-sizing: content-box;
}

#close_modal:hover {
  color: #FFF;
  transform: rotate(135deg);
}

.input__area {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.input__area label {
  font-size: 24px;
  margin-bottom: 20px;
  color: wheat;
  font-weight: 600;
}

#input {
  min-width: 300px;
  min-height: 200px;
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 10px;
}

.create__list {
  width: 100px;
  height: 50px;
  margin: 50px auto;
  border: none;
  border-radius: 25px;
  background-color: #C7E3E9;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: #BFE2FF;
  }
}

.finish__shopping {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid darkolivegreen;
  border-radius: 20px;
  margin: 20px auto 0 auto;
}

.block {
  display: block;
}

.main__btns {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}