
@media screen and (max-width: 760px) {
  .header__menu {
    width: 85%;
  }

  .header__logo {
    font-size: 26px;
  }

  .header__slogan {
    font-size: 14px;
  }

  .input__area {
    margin-top: 90px;
  }

  .input__area label {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {

  .header__logo {
    font-size: 20px;
  }

  .header__slogan {
    font-size: 10px;
  }

  .add__items--description {
    font-size: 16px;
  }

  .footer__instruction {
    font-size: 12px;

    &-item {
      align-items: center;
      font-size: 12px;
    }
  }

}